body {
    /*  padding: 0%; */
    background: #bdd6f3;
}
footer {
    padding-bottom: 0%;
}
#page_content {
    background-color: #eeeeee;
}
#body_content {
    background-color: #eeeeee;
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.card-text {
    padding-top: 10px;
}
#blog_post .col-md-6 div {
    margin-top: 10px;
}
.text-center {
    float: center;
}
/* #content{
     position: fixed;
}

 */
div.hide {
    visibility: hidden !important;
}
div.show {
    visibility: visible !important;
}
